<div *ngIf="product.title" class="card">
    <img [src]="product.imageUrl" *ngIf="product.imageUrl" title="{{product.title}}" class="card-img-top" alt="{{product.title}}">
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.price | currency:'INR':symbol}}
        </p>
    </div>
    <div *ngIf="showActions && shoppingCart" class="card-footer">
        <button *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity " class="btn btn-primary btn-block" (click)="addToCart()">Add to cart
      </button>
        <ng-template #updateQuantity>

            <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
            <!-- <div class="row no-gutters">
                <div class="col-2"> <button class="btn btn-secondary btn-block" (click)="removeFromCart()">-</button></div>
                <div class="col text-center">
                    {{ getQuantity()}} in cart
                </div>
                <div class="col-3"> <button class="btn btn-secondary btn-block" (click)="addToCart()">+</button></div>
            </div> -->
        </ng-template>

    </div>
</div>

<!-- <div  class="card" style="width: 18rem;">
  <img [src]="product.imageUrl" class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text"> {{ product.price | currency:'INR':symbol }}
    </p>
  </div>
</div> -->