label {
    display: block;
    text-transform: capitalize;
    input,
    textarea {
        display: block;
        width: 50%;
        margin-bottom: 10px;
        padding: 1em;
    }
    .error {
        margin-top: -5px;
        background: yellow;
        color: rgb(58, 52, 52);
        padding: .5px;
        display: inline-block;
        font-size: .9em;
        margin-bottom: 10px;
    }
}

.cta {
    background: rgb(22, 163, 168);
    border: none;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
}

.results {
    margin-top: 50px;
    strong {
        display: block;
    }
    span {
        margin-bottom: 20px;
        display: block;
    }
}