<h1>
    Orders List <small>(All Users)</small>
</h1>

<div *ngIf="!order$">
    <h2>Page is Under Construction...
    </h2><img src="https://upload.wikimedia.org/wikipedia/commons/d/df/Web-maintenance.png" alt="Page Under Construction">
</div>

<div class="row col-12">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>User ID</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let order of order$ | async">
            <tr *ngIf="order">
                <td>
                    {{order.shipping.name}}
                </td>
                <td>{{order.datePlaced | date }}</td>
                <td title="{{order.shipping.name}}">{{order.userId }}</td>
                <td><a class="btn btn-light" [routerLink]="['/order-details/',order.shipping.name]">View</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>