<header>
    <div class="container">
        <h1 class="header"><a routerLink="/">{{appTitle}}</a></h1>
        <nav>
            <ul class="navbar navbar-brand">
                <li class="navbar navbar-menu">
                    <a routerLink="/home">
                        <mat-icon title="home">home</mat-icon>
                    </a>
                </li>
                <li class="navbar navbar-menu">
                    <a routerLink="/contact">
                        <mat-icon title="Contact Form">account_circle</mat-icon>
                    </a>
                </li>

                <li class="navbar navbar-menu">
                    <a routerLink="/new-app">
                        <mat-icon title="New App">launch</mat-icon>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

</header>