<body>
    <div>
        <h2 class="header">{{appTitle}}</h2>
        <ul class="body">
            <form>


                <span class="form">
            <input [(ngModel)]="New_todo" name="New_todo" placeholder="Enter New ToDo!" />
            <button class="add" (click)="addNewTodo()">Add</button></span>
            </form>

            <table class="table">
                <th>To Do List: <br><span><like [likesCount]="51"></like></span>
                </th>
                <tr [hidden]="isHidden" class="list" *ngIf="New_todo ==''">Please enter something
                    <button class="delete" (click)="isHidden=!isHidden">Cancel </button></tr>

                <tr id='list' class="list" *ngFor="let todo of todos; let i = index">

                    <span> <a>{{i+1}} .</a>{{todo.task}}</span><button class="delete" (click)="onDelete(todo)">Delete</button>
                </tr>
            </table>

        </ul>
    </div>

</body>