body,
html,
.body {
    height: 100%;
    background: #e4eef1;
    min-width: 350px;
    z-index: -1;
}

@media screen and (max-width: 550px) {
    table,
    li,
    ul,
    button,
    input,
    form {
        display: block-flex;
        padding: 0%;
    }
}

table {
    width: 70%;
    padding: 15px;
}

div {
    min-width: 350px;
    margin: 0%;
}

.hide {
    display: none;
}

.header {
    background: linear-gradient(to top left, #2cb4eb, #106ad1);
    color: rgb(255, 249, 249);
    text-align: start;
    padding: 1em;
    padding-left: 5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    height: 30%;
}

ul {
    padding-left: 8%;
    background: #e4eaf0;
    align-content: center
}

@media screen and (max-width: 550px) {
    ul {
        padding: 0%;
    }
}

tr {
    padding: 5px;
    margin: 0.5em;
    color: rgb(63, 59, 59);
    font-size: 20px;
    display: flex;
    align-items: flex-start;
}

td {
    color: rgb(135, 10, 252);
}

input {
    width: 75%;
    box-sizing: border-box;
    padding: 1em;
    margin: 0.2em;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
}

input:hover {
    box-shadow: 2px 1px 10px;
}

button {
    background: rgb(67, 68, 75);
    background-image: linear-gradient(to top left, #00b7ff, #1b58da);
    color: white;
    border-radius: 5px;
    padding: .7em;
    width: 12%;
    min-width: max-content;
    border: 0ch;
    cursor: pointer;
}

button.add {
    background-image: linear-gradient(to top left, #2bf36e, #1e9144);
}

button.add:hover {
    color: #188a3e;
    background: #e4eaf0;
}

form {
    width: 100%;
    padding: 1em;
}

button:hover {
    color: rgb(67, 68, 75);
    background: white;
    border: 1px solid;
}

.delete {
    background: rgb(212, 49, 20);
    color: white;
    border-radius: 5px;
    padding: .3em;
    width: 12%;
    border: 1px solid white;
    min-width: max-content;
    margin-left: 2em;
    cursor: pointer;
}

.delete:hover {
    color: rgb(212, 49, 20);
    background: #e4eaf0;
}

.list {
    justify-content: space-between;
    display: flexbox;
    border: 1px solid;
    padding: .8em;
    margin: 5px;
    width: 125%;
}

.list:hover {
    box-shadow: 2px 2px 10px;
}